.tech{
    width: 100%;
    background: #1A1A1A;
    overflow: hidden;
    padding-bottom: 40px;
    position: relative;
}

.tech__head{
    display: block;
    font-family: 'Rubik';
    font-weight: 500;
    line-height: 120%;
    color: #FFFFFF;
    text-align: center;
    margin: 20px auto 0;
}

.tech__img{
    position: absolute;
    z-index: 10;
}

.tech__block{
    border: 2px solid #333333;
    box-shadow: 0px 44px 58px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background: #161616;
    overflow: hidden;
    margin: 0 auto;
}

.tech__tab{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background: #282828;
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-color: #333333;
    border-radius: 15px 15px 0px 0px;
    padding: 22px 28px 14px;
    width: 187px;
    margin-top: 22px;
    margin-left: 22px;
}

.tech__console{
    width: 100%;
    background: #282828;
    position: relative;
    font-family: 'Roboto Mono';
}

.tech__lineNumb{
    position: absolute;
    width: 18px;
    top: 30px;
    left: 24px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(186, 196, 205, 0.5);
}

.tech__consoleText{
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    display: block;
    margin-bottom: 14px;
}

.tech__consoleBlockText{
    position: absolute;
    top: 36px;
    left: 66px;
}

.tech__consoleText_margin{
    display: block;
    margin-left: 32px;
    margin-top: 9px;
    margin-bottom: 10px;
}

.tech__consoleText_blue{
    color: #478BFD;
}

.tech__animateBlock{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.tech__animateLine{
    position: absolute;
    stroke:#478BFD;
}

.tech__animateLine_1, .tech__animateLine_5, .tech__animateLine_3{
    animation: tech_top_lines_1 5s infinite linear;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
}

@keyframes tech_top_lines_1 {
    0%{
        stroke-dashoffset: 100;
    }

    20%{
        stroke-dashoffset: 0;
    }

    100%{
        stroke-dashoffset: 0;
    }
}

.tech__animateLine_4{
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
    animation: tech_wr1_lines 5s infinite linear;
}

@keyframes tech_wr1_lines {
    0%{
        stroke-dashoffset: -200;
    }
    20%{
        stroke-dashoffset: -200;
    }
    40%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

.tech__animateLine_6{
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
    animation: tech_wr2_lines 5s infinite linear;
}

@keyframes tech_wr2_lines {
    0%{
        stroke-dashoffset: 200;
    }
    20%{
        stroke-dashoffset: 200;
    }
    40%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

.tech__animateLine_2{
    animation: tech_top_lines_2 5s infinite linear;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
}

@keyframes tech_top_lines_2 {
    0%{
        stroke-dashoffset: 100;
    }

    40%{
        stroke-dashoffset: 100;
    }

    50%{
        stroke-dashoffset: 0;
    }

    100%{
        stroke-dashoffset: 0;
    }
}

.tech__animateLine_7, .tech__animateLine_8, .tech__animateLine_9{
    animation: tech_top_lines_3 5s infinite linear;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
}

@keyframes tech_top_lines_3 {
    0%{
        stroke-dashoffset: 100;
    }

    50%{
        stroke-dashoffset: 100;
    }

    70%{
        stroke-dashoffset: 0;
    }

    100%{
        stroke-dashoffset: 0;
    }
}

.tech__animateLight{
    position: absolute;
    background: linear-gradient(180deg, rgba(71, 139, 253, 0) 0%, #478BFD 100%);
    z-index: 1;
    animation: tech_light 5s infinite linear;
}

@keyframes tech_light {
    0%{
        opacity: 0;
    }

    70%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}