.virtualWorld__content_desktop{
    display: block;
    margin-top: 709px;
}

.virtualWorld_mob{
    display: none;
}

.virtualWorld__head{
    font-size: 48px;
    width: 585px;
    opacity: 0;
}

.virtualWorld__content_animated .virtualWorld__head{
    animation: vWtext_appear 1s linear forwards;
}

.virtualWorld__text{
    width: 380px;
    opacity: 0;
}

.virtualWorld__content_animated .virtualWorld__text{
    animation: vWtext_appear 1s linear forwards;
}

@keyframes vWtext_appear {
    0%{
        opacity: 0;
        margin-left: -400px;
    }
    100%{
        opacity: 1;
        margin-left: 0;
    }
}

.virtualWorld__img{
    position: absolute;
    top: 683px;
    right: -120px;
    z-index: 10;
    top: 800px;
    right: -300px;
}

.virtualWorld__content_animated .virtualWorld__img{
    animation: vWimg_appear 2s linear forwards;
}

@keyframes vWimg_appear {
    0%{
        top: 800px;
        right: -300px;
    }
    100%{
        top: 683px;
        right: -120px;
    }
}