.command__content{
    width: 1200px;
}

.command__head{
    font-size: 48px;
}

.command__main{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.command__avatar_main{
    width: 278px;
    float: left;
    margin-right: 29px;
}

.command__mainCard{
    width: 584px;
}

.command__position_main{
    font-size: 16px;
}

.command__name.command__name_main{
    font-size: 24px;
    margin-top: 6px;
    width: 272px;
}

.command__aboutText.command__aboutText_main{
    line-height: 150%;
    margin-top: 25px;
    display: inline-block;
    width: 270px;
}

.command__scrollBlock{
    height: 338px;
    margin-top: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 40px;
}

.command__scroll{
    display: flex;
}

.command__card{
    margin-right: 30px;
}

.command__card_hidden{
    display: none;
}

.command__position{
    font-size: 14px;
    margin-top: 12px;
    display: block;
}

.command__name{
    font-size: 24px;
    margin-top: 4px;
    display: inline-block;
    width: 140px;
}

.command__eye{
    display: none;
}

.command__about{
    padding: 30px;
    height: 240px;
    background: linear-gradient(270deg, #282828 0%, rgba(26, 26, 26, 0) 87.18%);
    border-radius: 16px;
    flex-shrink: 0;
    display: none;
}

.command__link:hover .command__name{
    color: #478BFD;
}

.command__link:hover .command__about{
    display: block;
    animation: appear 0.2s linear forwards;
}

.command__link_unhovered .command__about{
    display: block;
    animation: disappear 0.4s linear forwards;
}

@keyframes appear{
    0% {
        margin-right: 0px;
        opacity: 0;
        width: 0;
    }
    100% {
        margin-right: 30px;
        opacity: 1;
        width: 350px;
    }
}

@keyframes disappear{
    0% {
        margin-right: 30px;
        opacity: 1;
        width: 350px;
    }
    100% {
        margin-right: 0px;
        opacity: 0;
        width: 0;
        display: none;
    }
}

.command__aboutText{
    width: 350px;
    margin-top: 8px;
}

.command__link{
    display: flex;
}

.command__backPopUp{
    display: none;
}