.vrblock__head_mob{
    display: none;
}

.vrblock__head{
    width: 867px;
    font-size: 96px;
    margin-top: 40px;
}

.vrblock__text{
    width: 585px;
}

.vrblock__hrLine{
    width: 1px;
    height: 150px;
    background: #fff;
    margin: 40px auto 0;
}

.vrblock__description{
    font-size: 16px;
    width: 671px;
}

.vrblock__vrHead{
    margin-top: 16px;
    font-size: 36px;
    width: 837px;
}

.vrblock__vrName{
    width: 1200px;
    font-size: 230px;
}

.vrblock__img{
    transform: translate(-50%, -43.5%);
}

.vrblock__backLight{
    width: 340px;
    height: 340px;
    filter: blur(200px);
    transform: translate(-50%, 100%);
}

.vrblock_expl{
    margin-top: 328px;
    width: 669px;
}