.partner__content{
    width: 343px;
}

.partner__head{
    margin-top: 20px;
    font-size: 16px;
}

.partner__logo{
    width: 342px;
    margin-top: 20px;
    margin-bottom: 58px;
}

.partner__text{
    position: absolute;
    top: 90px;
    font-size: 14px;
}

.partner__text_left{
    left: 0;
}

.partner__text_right{
    right: 0;
}

.partner__token{
    display: none;
}

.partner__pocket{
    width: 313px;
    padding-right: 0;
    margin-bottom: 20px;
}

.partner__pocket_black{
    background: #282828;
}

.partner__pocket_right{
    top: 218px;
    right: 0;
}

.partner__pocket_left{
    top: 294px;
    left: 0;
}

.partner__pocket_center{
    top: 479px;
    left: 373px;
}

.partner__weekImg{
    width: 343px;
    margin: 40px auto 0;
    display: block;
}

.partner__week{
    font-size: 36px;
    width: 343px;
    margin-top: 60px;
    text-align: center;
}

.partner__week_desktop{
    display: none;
}

.partner__pocketBlock{
    width: 375px;
}

.partner__popUp{
    min-height: 1200px;
}

.partner__pocketBlockContent{
    padding: 115px 16px;
    padding-bottom: 0;
}

.partner__pocketBlockText{
    top: 55px;
}

.partner__pocketAboutName{
    font-size: 26px;
}

.partner__nav{
    top: 49px;
    right: 25px;
}

.partner__pocketAboutList{
    margin: 125px 0 27px;
    margin-left: 17px;
}

.partner__pocketAboutValue{
    top: 179px;
}

.partner__pocketBlockPrice{
    margin-top: 12px;
    display: block;
}

.partner__formBlock{
    width: calc(100% + 32px);
    margin-left: -16px;
    height: 80px;
    opacity: 0;
}

.partner__form{
    display: none;
}

.partner__formBlock.active{
    height: 240px;
    opacity: 1;
}

.active .partner__form{
    display: block;
    margin-left: 16px;
}

.partner__input{
    width: 307px;
    margin-left: 0px;
}

.partner__button{
    position: absolute;
    bottom: 32px;
    left: 16px;
    width: 343px;
}

.partner__pocketBlockContent_white .partner__button{
    background: #FFFFFF;
}