.tech__head{
    width: 343px;
    font-size: 36px;
}

/* .tech__img_mob{
    display: block;
    margin: 40px auto 0;
} */

.tech__block{
    width: 343px;
    height: 817px;
}

.tech__consoleBlockText{
    left: 58px;
}

.tech__console{
    height: 830px;
}

.tech__consoleText_margin{
    line-height: 34px;
    width: 246px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tech__lineNumb{
    height: 483px;
    line-height: 33.5px;
}

.tech__animateBlock{
    width: 500px;
    height: 275px;
}

.tech__img{
    width: 500px;
}

.tech__animateLine_1{
    top: 70px;
    left: 140px;
    width: 20px;
}

.tech__animateLine_5{
    top: 70px;
    right: 140px;
    width: 20px;
}

.tech__animateLine_3{
    top: 90px;
    left: 250px;
    height: 30px;
}

.tech__animateLine_4{
    top: 132px;
    left: 155px;
    width: 70px;
}

.tech__animateLine_6{
    top: 132px;
    right: 155px;
    width: 70px;
}

.tech__animateLine_2{
    top: 150px;
    left: 250px;
    height: 20px;
}

.tech__animateLine_7{
    top: 220px;
    left: 230px;
    height: 30px;
}

.tech__animateLine_8{
    top: 220px;
    left: 250px;
    height: 40px;
}

.tech__animateLine_9{
    top: 220px;
    right: 230px;
    height: 30px;
}

.tech__animateLight{
    width: 100px;
    height: 40px;
    bottom: 50px;
    left: 200px;
    filter: blur(20px);
}