.round__content{
    width: 864px;
    height: 820px;
}

.round__card{
    width: 217px;
    height: 126px;
    padding: 34px 23px 30px 27px;
}

.round__sum{
    width: 204px;
    margin: 12px auto 0;
}

.round__deskr{
    font-size: 14px;
    bottom: 30px;
}

.round__deskr_left{
    left: 23px;
}

.round__deskr_right{
    right: 27px;
}

.round__img{
    width: 1025px;
    margin-top: -45px;
    left: -80px;
}

.round__text{
    font-size: 48px;
    top: 420px;
}

.round__button{
    top: 680px;
    padding-right: 40px;
    padding-left: 40px;
}