.steps{
    width: 100%;
    background: #E7E7E9;
}

.step-block{
    position: relative;
    margin: 0 auto;
}

.step-block__step{
    position: relative;
    display: none;
}

.step-block__step_active{
    display: block;
}

.step-block__head{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 48px;
    color: #2C2D2E;
    display: inline-block;
    width: 250px;
}

.step-block__list{
    width: 855px;
    height: 147px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.step-block__option{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    color: #1A1A1A;
    padding: 10px 16px;
    display: block;
    border: 1px solid rgba(186, 196, 205, 0.5);
    border-radius: 11px;
    margin-left: 12px;
    cursor: pointer;
}

.step-block__option_active{
    color: #005FFF;
    border: 1px solid #005FFF;
}

.step-block__name{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 24px;
    color: #2C2D2E;
}

.step-block__text{
    font-family: 'TT Norms';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.003em;
    color: #2c2d2e96;
    display: block;
}

.step-block__text-block{
    display: inline-block;
}

.step-block__nav{
    width: 185px;
    display: flex;
    justify-content: space-between;
}

.step-block__nav-number{
    display: inline-flex;
    width: 83px;
    align-items: center;
}

.step-block__nav-curr{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 32px;
    color: #005FFF;
}

.step-block__nav-stick{
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 38px;
    color: #1a1a1a29;
}

.step-block__nav-max{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    color: #1a1a1a29;
}

.step-block__arrow-left, .step-block__arrow-right{
    height: 38px;
    width: 38px;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
    background: url('../../../images/nav_arrow_left.svg') no-repeat center;
    opacity: 0.2;
    cursor: pointer;
}

.step-block__arrow-left_active, .step-block__arrow-right_active{
    opacity: 1;
    background: url('../../../images/nav_arrow_left_light.svg') no-repeat center;
    border: 1px solid #005FFF;
}

.step-block__arrow-right{
    transform: rotate(180deg);
}