.header__background *, .menu *, .header *, .scroll-line *, .steps *, .roadmap *, .dblock *, .vrblock *, .values *, .bali *, .virtualWorld *, .command *, .command__backPopUp *, .tech *, .job *, .partner *, .round *{
    padding: 0;
    margin: 0;
    border: 0;
    color: inherit;
    text-decoration: none;
    list-style: none;
    line-height: 1;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.land-html, .land-head, .land-body{
    margin: 0;
    padding: 0;
}
