.landing_root *{
    padding: 0;
    margin: 0;
    border: 0;
    color: inherit;
    text-decoration: none;
    list-style: none;
    line-height: 1;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.landing_body{
    margin: 0;
    padding: 0;
}
