.scroll-line{
    display: flex;
}

.scroll-line__bar{
    margin-top: 20px;
    width: 100%;
    height: auto;
    max-width: 375px;
    margin: 463px auto 0;
}

.scroll-line__item{
    position: -webkit-sticky;
    position: sticky;
    margin-right: 0;
    padding: 35px 30px;
    top: 0;
    margin-top: -15px;
}
