.roadmap{
    width: 1200px;
    height: 564px;
}

.roadmap__head{
    font-size: 48px;
}

.roadmap__scroll{
    margin-top: 40px;
}

.roadmap__scroll::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: #00000000;
}

.roadmap__scroll::-webkit-scrollbar-thumb{
    background-color: #0000002a;
}