.step-block{
    margin-top: 40px;
    width: 343px;
    padding: 40px 16px 0px;
    position: relative;
}

.step-block__head{
    font-size: 36px;
    width: 200px;
}

.step-block__list{
    position: absolute;
    display: flex;
    width: 343px;
    height: 47px;
    margin-top: 50px;
    border: 1px solid #1A1A1A33;
    border-radius: 20px;
    align-content: center;
    line-height: 150%;
}

.step-block__list_full{
    display: block;
    background: #F1F1F3;
    border: 1px solid rgba(26, 26, 26, 0.2);
    border-radius: 12px;
    height: 359px;
    z-index: 100;
    overflow-y: scroll;
}

.step-block__list_full .step-block__option_active{
    color:  #005FFF;
}

.step-block__listArrow{
    display: block;
    position: absolute;
    top: 190px;
    right: 32px;
    z-index: 101;
}

.step-block__list_full+.step-block__listArrow{
    transform: rotate(180deg);
}

.step-block__option
{
    width: 80%;
    display: none;
    border: none;
    margin: 0;
}

.step-block__list_full .step-block__option{
    display: block;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    width: calc(100% - 32px);
}

.step-block__option_active
{
    display: block;
    color: #1A1A1A;
}

.step-block__step{
    width: 100%;
    margin-top: 100px;
}

.step-block__img{
    position: relative;
    width: 343px;
    margin-top: 20px;
}

.step-block__text-block{
    width: 100%;
}

.step-block__text{
    display: block;
    margin-top: 15px;
}

.step-block__name{
    display: none;
}

.step-block__nav{
    margin-top: 30px;
}

.step-block__option_mob{
    display: block;
}

.step-block__option_desk{
    display: none;
}