body{
    background-color: #E7E7E9;
}

span{
    letter-spacing: 0.003em;
}

.back_black{
    margin-top: -55px;
    background-color: #1A1A1A;
    padding-top: 50px;
}

.second-part-blocks{
    animation: block_appear 0.2s linear;
}

@keyframes block_appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.second-part-blocks.second-part-blocks_hidden{
    display: none;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #23232321;
    border-radius: 50px;
}
