.command__content{
    position: relative;
    width: 342px;
}

.command__head{
    font-size: 36px;
}

.command__main{
    display: none;
}

.command__scrollBlock{
    margin: 40px 0;
    width: 342px;
    height: 473px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.command__scroll{
    display: flex;
    flex-direction: column;
}

.command__card{
    width: 322px;
    height: 85px;
    margin-bottom: 12px;
    position: relative;
}

.command__card_hidden{
    display: block;
}

.command__avatar{
    width: 85px;
    height: 85px;
}

.command__position{
    position: absolute;
    font-size: 14px;
    top: 6px;
    left: 97px;
}

.command__name{
    position: absolute;
    font-size: 20px;
    width: 120px;
    top: 33px;
    left: 97px;
}

.command__eye{
    display: block;
    position: absolute;
    top: 35px;
    right: 2px;
}

.command__about{
    display: none;
}

.command__backPopUp{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    z-index: 105;
}

.command__backPopUp_visible{
    display: block;
}

.command__popUpPersonBlock{
    display: none;
    width: 311px;
    padding: 16px;
    background: #1A1A1A;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.command__popUpPersonBlock.active{
    display: block;
}

.command__avatar_popUp{
    width: 96px;
    height: 96px;
}

.command__position_popUp{
    top: 0;
    left: 108.5px;
}

.command__name_popUp{
    top: 24px;
    left: 108.5px;
    color: #478BFD;
}

.command__about_mob{
    display: block;
    margin-top: 38px;
}

.command__aboutText{
    margin-top: 8px;
}

.command__popUpClose{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    margin-top: -117px;
    margin-left: 148px;
}