.bali{
    margin-top: -45px;
    padding-top: 60px;
}

.bali__head{
    display: none;
}

.bali__content{
    width: 343px;
    margin-left: auto;
    margin-right: auto;
}

.bali__head_mob{
    display: block;
    font-size: 36px;
    width: 343px;
}

.bali__img{
    width: 343px;
    top: 548px;
    right: 0;
}

.bali__text{
    width: 342px;
}

.bali__forBlock{
    position: relative;
    margin-top: 313px;
    height: 248px;
}

.bali__nav{
    position: absolute;
    bottom: 0px;
}