.bali__content{
    width: 864px;
    margin-left: auto;
    margin-right: auto;
}

.bali__head_mob{
    display: none;
}

.bali__head{
    font-size: 48px;
    width: 474px;
}

.bali__img{
    width: 734px;
    top: 60px;
    right: -320px;
}

.bali__text{
    width: 416px;
}

.bali__forBlock{
    margin-top: 40px;
}

.bali__nav{
    margin-bottom: 40px;
}