.partner{
    background-image: url('../../../images/colosseum.png');
    background-repeat: no-repeat;
    background-position: top center;
}

.partner__content{
    width: 1200px;
}

.partner__head{
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
}

.partner__logo{
    margin-top: 40px;
}

.partner__text{
    position: absolute;
    top: 258px;
    font-size: 20px;
}

.partner__text_left{
    left: 0;
}

.partner__text_right{
    right: 0;
}

.partner__token{
    position: absolute;
    top: 67px;
    left: 200px;
    animation: rotateToken 2s infinite;
    animation-direction: alternate;
}

@keyframes rotateToken {
    0%{
        transform: rotate3d(0, 1, 0, 0deg);
    }

    100%{
        transform: rotate3d(0, 1, 0, 30deg);
    }
}

.partner__pocket{
    position: absolute;
    z-index: 100;
    width: 320px;
}

.partner__pocket_black{
    background: #1A1A1A;
}

.partner__pocket_right{
    top: 361px;
    right: 0;
}

.partner__pocket_left{
    top: 421px;
    left: 0;
}

.partner__pocket_center{
    top: 626px;
    left: 513px;
}

.partner__weekImg{
    width: 586px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.partner__week{
    font-size: 48px;
    width: 584px;
    margin-top: 140px;
}

.partner__week_blue{
    display: block;
}

.partner__pocketBlock{
    width: 1275px;
}

.partner__popUp{
    min-height: 680px;
}

.partner__pocketBlockContent{
    padding: 100px 140px;
}

.partner__pocketBlockText{
    top: 55px;
}

.partner__nav{
    top: 47px;
    right: 144px;
}

.partner__pocketAboutList{
    margin: 28px 0 30px;
    margin-left: 17px;
    min-height: 200px;
}

.partner__pocketAboutList_maxHeight{
    min-height: 220px;
}

.partner__pocketAboutListRight, .partner__pocketAboutListLeft{
    width: 463px;
    display: inline-block;
}

.partner__pocketAboutListRight{
    float: right;
}

.partner__pocketAboutListLeft .partner__pocketAboutItem{
    width: 400px;
}

.partner__pocketAboutValue{
    bottom: 37px;
    display: flex;
    align-items: center;
}

.partner__pocketBlockPrice{
    margin-left: 20px;
}

.partner__formBlock{
    width: calc(100% + 280px);
    margin-left: -140px;
    height: 84px;
    display: none;
}

.partner__formBlock.active{
    display: block;
}

.partner__form{
    margin-left: 120px;
}

.partner__input{
    width: 450px;
    margin-left: 20px;
}

.partner__button{
    position: absolute;
    bottom: 32px;
    right: 140px;
    width: 484px;
}