.job{
    width: 100%;
    background: #1A1A1A;
    padding-top: 20px;
    padding-bottom: 40px;
}

.job__content{
    position: relative;
    margin: 0 auto;
}

.job__head{
    font-family: 'Rubik';
    font-weight: 500;
    color: #FFFFFF;
}

.job__text{
    font-family: 'TT Norms';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 0.6;
    display: block;
}

.job__img{
    position: absolute;
}

.job__light{
    background: #478BFD;
    position: absolute;
}

.job__form{
    background: #1A1A1A;
    border: 1px solid #333333;
    border-radius: 32px;
    padding: 32px 16px 30px;
}

.job__formLogo{
    margin-left: -16px;
    margin-top: -10px;
}

.job__input{
    width: calc(100% - 32px);
    padding: 15px 16px;
    background: #1A1A1A;
    border: 1px solid #333333;
    border-radius: 16px;
    margin-top: 18px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.job__file{
    margin-top: 18px;
    display: block;
    background: rgba(147, 164, 178, 0.15);
    border-radius: 16px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    color: #98A7B4;
    padding: 14.5px 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.job__file input{
    display: none;
}

.job__formDeskr{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    color: rgba(186, 196, 205, 0.5);
    display: block;
    margin-top: 20px;
}

.job__button{
    margin-top: 30px;
    background: #478BFD;
    border-radius: 16px;
    text-align: center;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.job__fromButtonImg{
    margin-right: 8px;
}

.job__scrollBlock{
    width: 100%;
}

.job__item{
    width: 175px;
    height: 252px;
    margin-right: 25px;
    display: inline-block;
}

.job__profName{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    display: block;
    margin-top: 12px;
}