.header__background{
    background: url('../../../images/header_back.png') no-repeat;
    background-size: 50%;
    height: 596px;
    background-position: right bottom;
}

.header{
    height: 596px;
    padding-top: 25px;
    width: 865px;
}

.menu{
   display: none;
}

.menu_showed{
    display: block;
    position: absolute;
    width: 100%;
    background-color: #E7E7E9;
    top: 83px;
    z-index: 100;
}

.menu__item{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px;
    width: 864px;
    padding: 16px 0;
    display: block;
    margin: 0 auto;
}

.menu__link.active{
    color: #fff;
    background: #005FFF;
}

.menu__link{
    display: block;
    width: 100%;
}

.menu__arrow:hover+.menu__hide{
    display: flex;
}

.menu__topButton{
    display: none;
}

.menu__button{
    display: block;
    position: absolute;
    right: 0;
    top: 34px;
    width: 24px;
    height: 24px;
}

.menu__arrow{
    display: none;
}

.menu__line{
    width: 18.67px;
    height: 2.6px;
    margin-bottom: 4px;
    background: #1A1A1A;
    border-radius: 21px;
}

.menu__button_close .menu__line:nth-child(1){
    position: absolute;
    transform: rotate(45deg);
}

.menu__button_close .menu__line:nth-child(2){
    transform: rotate(-45deg);
}

.menu__button_close .menu__line:nth-child(3){
    display: none;
}

.header__h1{
    margin-top: 114px;
}

.header__text{
    width: 413px;
}