.job_animated{
    animation: job_animation 0.75s linear;
    animation-delay: 1.5s;
}

@keyframes job_animation {
    0%{
        overflow: hidden;
    }
}

.job__content{
    width: 1200px;
}

.job__head{
    margin-top: 20px;
    font-size: 48px;
    width: 274px;
    opacity: 0;
}

.job_animated .job__head{
    animation: text-appear 0.5s linear forwards;
    animation-delay: 1.5s;
}

.job__textBlue{
    color: #478BFD;
}

.job__text{
    width: 277px;
    height: 480px;
    margin-top: 40px;
    opacity: 0;
}

.job_animated .job__text{
    animation: text-appear 0.5s linear forwards;
    animation-delay: 1.5s;
}


@keyframes text-appear {
    0%{
        opacity: 0;
        margin-left: -500px;
    }
    100%{
        opacity: 1;
        margin-left: 0;
    }
}

.job__img_logo{
    top: 20px;
    left: 312px;
    opacity: 0;
}

.job__img_people{
    top: 25px;
    left: 300px;
    opacity: 0;
}

.job_animated .job__img_logo{
    animation: img-logo-appear 0.5s linear forwards;
}

.job_animated .job__img_people{
    animation: img-people-appear 0.5s linear forwards;
    animation-delay: 0.25s;
}

@keyframes img-logo-appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes img-people-appear {
    0%{
        opacity: 0;
        margin-top: 200px;
    }
    100%{
        opacity: 1;
        margin-top: 0px;
    }
}

.job__light{
    filter: blur(100px);
}

.job_animated .job__light{
    animation: blured_light 1.5s infinite;
    animation-delay: 1s;
    animation-direction: alternate;
}

@keyframes blured_light {
    0%{
        left: 512px;
        top: 440px;
        width: 0;
        height: 0;
    }

    100%{
        left: 312px;
        top: 40px;
        width: 400px;
        height: 400px;
    }
}

.job__form{
    width: 381px;
    top: 20px;
    right: 0;
    display: none;
    position: absolute;
}

.job_animated .job__form{
    animation: form-appear 0.5s linear forwards;
    animation-delay: 1.5s;
    display: block;
    opacity: 0;
}

@keyframes form-appear {
    0%{
        opacity: 0;
        margin-right: -500px;
    }
    100%{
        opacity: 1;
        margin-right: 0;
    }
}

.job__scrollBlock{
    margin-top: 70px;
    overflow: hidden;
}

.job__scroll{
    width: 1250px;
}

.job__button_mob{
    display: none;
} 